.container {
  background: linear-gradient(to right, #9703bd, #660798);
  padding: 5rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 3em;
}
.service1Image {
  grid-column: 1/2;
  grid-row: 1/3;
  pointer-events: none;
}
.service1Title {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: flex-end;
}

.service1Description {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: flex-start;
}
.service2Image {
  grid-column: 2/3;
  grid-row: 3/5;
  pointer-events: none;
}
.service2Title {
  grid-column: 1/2;
  grid-row: 3/4;
  align-self: flex-end;
}
.service2Description {
  grid-column: 1/2;
  grid-row: 4/5;
  align-self: flex-start;
}

/* Service 3 */
.service3Image {
  grid-column: 1/2;
  grid-row: 5/7;
  pointer-events: none;
}
.service3Title {
  grid-column: 2/3;
  grid-row: 5/6;
  align-self: flex-end;
}
.service3Description {
  grid-column: 2/3;
  grid-row: 6/7;
  align-self: flex-start;
}
