.container {
    background: linear-gradient(to right, rgb(76,6,193), rgb(205,2,189));
    padding: 9rem 0;
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 8fr 12fr 1fr;
    grid-template-rows: 1fr;
}

.leftContainer {
    grid-column: 2/3;
    grid-row: 1/2;
}

.rightContainer {
    justify-self: center;
    grid-column: 3/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.heading1 {
    margin-bottom: 0 !important;
}

.heading2 {
    margin-top: -5px !important	;
    margin-bottom: 50px !important;
}

.chatBtn {
    padding: 10px 30px;
    margin: 50px 0;
    border-radius: 25px;
    border: hidden;
    background: linear-gradient(to bottom, cyan, rgb(0, 134, 134));
    cursor: pointer;
}
.chatBtn:hover {
    background: linear-gradient(to bottom, rgba(0, 255, 255, 0.8), rgba(0, 134, 134, 0.8));
}

.featuredImage {
    height: 100%;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    pointer-events: none;
}

.frontLayer {
    height: 100%;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    pointer-events: none;
}

.introBrain {
    height: 100%;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    pointer-events: none;
}